{{ define "main" }}
  {{ if in .Type site.Params.mainSections }}
    {{ .Render "section_view" }}
  {{ else if .IsHome }}
	{{ .Render "home_view" }}
  {{ else }}
    {{ .Render "list_view" }}
  {{ end }}
  

  <div class="pagination">
    {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}" class="button left"><span>{{ i18n "previous_page" }}</span></a>
    {{ end }}
    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}" class="button right"><span>{{ i18n "next_page" }}</span></a>
    {{ end }}
  </div>
{{ end }}
